RUST_LOG=carrot=info,actix=info

# API Config
HOST=127.0.0.1
PORT=8080

# DB Config
DB_THREADS=4
DATABASE_URL=postgres://test_framework_admin:admin@localhost:5432/test_framework_db_dev

# Cromwell Config
CROMWELL_ADDRESS=localhost:8000

# Optional Google Cloud Auth token
# GCS_OAUTH_TOKEN=

# Optional time, in seconds, to wait between updating statuses of running tests
# Defaults to 5 minutes if not specified
STATUS_CHECK_WAIT_TIME_IN_SECS=300

# Email config
# EMAIL_MODE can be three options:
# - SERVER, if you want to connect to a mail server;
# - SENDMAIL, if you want to use the Unix sendmail utility
# - NONE, which will disable email sending
EMAIL_MODE=SERVER
# Needed for both SERVER mode and SENDMAIL mode
EMAIL_FROM=carrot@example.com
# Only needed for SERVER mode
EMAIL_DOMAIN=smtp.example.com
# Optional for if you need credentials for email
# EMAIL_USERNAME=carrot@example.com
# EMAIL_PASSWORD=password
# Optional number of threads to use for sending emails (defaults to 4)
EMAIL_THREADS=5