version: '2'

services:

  carrot:
    image: carrot
    build:
      context: ../../
      dockerfile: ../../Dockerfile
    ports:
      - "8080:80"
    environment:
      - DATABASE_URL=postgres://test_framework_user:test@db:5432/test_framework_db
      - DB_THREADS=4
      - RUST_LOG=carrot=info,actix=info
      - HOST=0.0.0.0
      - PORT=80
      - CROMWELL_ADDRESS=http://cromwell:8000
    depends_on:
      - db
      - cromwell

  db:
    image: postgres-with-extension
    build:
      context: db/
    volumes:
      - db-data:/var/lib/postgresql/data

  cromwell:
    image: broadinstitute/cromwell:51
    environment:
      - CROMWELL_ARGS=server

volumes:
  db-data: